# Python files
*.py[cod]
__pycache__/
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/

# Django files
*.log
*.pot
db.sqlite3
/media/
staticfiles/
.env

# Docker files
.dockerignore
docker-compose.override.yml
rebuild.sh

# Environment variable files
.env
.env.*

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS-specific
.DS_Store
