/* Example of overriding Bootstrap styles */
/*
.navbar {
    background-color: #007bff; /* Dark blue background */
/*}*/

/*
.navbar-brand {
    color: #fff !important; /* White text color for visibility */
/*}*/

/*
.navbar-nav .nav-link {
    color: #fff !important; /* White text color for nav links */
/*}*/

/*
.dropdown-menu {
    right: 0 !important; /* Align dropdown menu to the right */
/*}*/
